.stopwatch {
    padding: 24px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    &__title {
        margin: 0 0 16px;
    }
    &__value {
        margin: 0 0 24px;
        color: blue;
        font-size: 50px;
        font-weight: 300;
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    &__btn {
        margin: 0 12px;
        &:active {
            box-shadow: 0 0 5px rgba(0,0,0, .3);
        }
    }
}